.container {
  display: flex;
  height: 600px;
  flex-flow: row wrap; 
 background-color: blueviolet;
 justify-content :end;
 align-items: end;
 align-content: center;
}

.item {
  background-color: orange;
width: 100px;
height: 60px;
border: 5px solid black;
margin: 10px;
padding: 50px;


}

