#contenedor_princ{
	width: 200px;
	height: 300px;
	padding: 20px ;
	margin: 50px;
	border: 15px dotted green;
	background: red;
	box-sizing: content-box;
	border-radius: 100px;

}
#contenedor_hijo{
	width: 100px;
	height: 100px;
	padding: 20px 30px;
	margin: 60px;
	border: 15px groove yellow;
	background: blue;
	box-sizing: border-box;
	overflow: scroll;
	border-radius: 20px;
}

#contenedor_sec{
	width: 200px;
	height: 300px;
	padding: 20px ;
	margin: 50px ;
	border: 15px dotted yellow;
	background: brown;
	box-sizing: content-box;
	border-radius: 40px;
	display: inline ;
}