.contenedor {
  display: grid;
  background: darkslategray;

  grid-template-areas: "head head"
                       "menu main"
                       " esq-inf-izq  esq-inf-izq  esq-inf-der";



  grid-template-columns: repeat(4, 120px) 200px;
  grid-template-rows: repeat(2, 1fr 2fr);
  /*grid-gap: 10px 5px;*/
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
}

.item{
	
	width: 70px;
	height: 70px;
	padding: 10px;
	border: 4px solid slategray;
	/*margin: 10px;*/
	background-color:lightgray ;
}


.item-1 { grid-area: cabecera; background: blue; }
.item-2 { grid-area: esq-inf-izq; background: red; }
.item-3 { grid-area: subcabecera; background: green; }
.item-4 { grid-area: esq-inf-der; background: orange; }